.App {
  text-align: center;
  height: 100vw;
  width: 100vw;
  display: flex;
  flex-flow: nowrap;
}
/*
.sidebar {
  background-color: aqua;
  width: 25%;
}
*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  /*margin: 0;*/
  height: 100vh;
  width: 100%;
  order: 1;
}

.container {
  display: flex;
  text-align: center;
}

.locations-list {
  list-style-type: none;
  padding: 5px;
  margin: 15px;
}

.locations-names {
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  background: #5757fe;
  color: white;
  display:flex;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  scroll-behavior: auto
}

.locations-names:hover {
  color:white;
  background-color: blue;
}

.sidebar-boxes {
  background-color: white;
  width: 300px;
  text-align: center;
}

.text-input {
  width: 75%;
  line-height: 2rem;
  border: 3px solid grey;
  font-size: 13px;
  color: black;
  margin-top: 1rem;
  text-align: center;
}

/*
.text-input {
  height: 1rem;
  font-size: 1rem;
  margin: 10px 0 0 0;
  width: 100vw;
  padding: 100px;
  text-align: center;
}
*/