.App {
  text-align: center;
  height: 100vw;
  width: 100vw;
  display: flex;
  flex-flow: nowrap;
}
/*
.sidebar {
  background-color: aqua;
  width: 25%;
}
*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  /*margin: 0;*/
  height: 100vh;
  width: 100%;
  order: 1;
}
/* Code Below -- Borrowed */
.container {
  display: flex;
  text-align: center;
}

.sidebar {
  background-color: white;
  width: 300px;
}

.venue-list-parent {
  list-style-type: none;
  padding: 5px;
  margin: 15px;
}

.venue-list-item {
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  background: #5757fe;
  color: white;
  display:flex;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  scroll-behavior: auto
}

.venue-list-item:hover {
  color:white;
  background-color: blue;
}

.search-input {
  height: 2rem;
  font-size: 1rem;
  margin: 10px 0 0 0;
  width: 100vw;
  padding: 10px;
  text-align: center;
}