
.app-container {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  margin: 0;
  height: 100vh;
  width: 100vw;
  order: 1;
}

.sidebar {
  margin-top: 0px;
  margin-left: 0px;
  height: 100vh;
  overflow-y: scroll
}

.sidebar-boxes {
  background-color: white;
  width: 100%;
  text-align: center;
}

.locations-list {
  list-style-type: none;
  padding: 5px;
  margin: 15px;
  background-color: white
}

.locations-names {
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  background: #5757fe;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  
}

.locations-names:hover {
  color:white;
  background-color: blue;
}

.text-input {
  width: 75%;
  line-height: 2rem;
  border: 3px solid grey;
  font-size: 13px;
  color: black;
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    height: 10vh;
    scroll-behavior: auto
  }
}

/*
@media screen and (max-width: 550px) {
  
  .sidebar-boxes {
    display: block;
    top: 0!important;
    width: 100%;
  }

  .locations-names {
    justify-content: center;
  }  
  
  .text-input-hidden {
    display: none;
  }
  
  .text-input {
    position: relative;
    width: 4.5cm;
    z-index: 2;
  }
  
   .text-input input {
     width: 2.55cm;
   }

  #map {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100vw;
    
    ***CAN PROBABLY REMOVE THIS***
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%
    
  }
}
*** CAN PROBLABLY REMOVE THIS***
li:focus {
  background-color: #9f8ef9;
}


@media screen and (max-width: 768px) {
  .text-input-hidden {
    display: none;
  }

  .text-input {
    position: relative;
    width: 4.5cm;
    z-index: 2;
  }

  .text-input input {
    width: 2.55cm;
  }

  .sidebar-boxes {
    display: none;
    position: absolute;
    top: 13px !important;
  }

  .map {
    width: 100%;
  }
}
*/